@using Foxic_Backend_Project_.Entities
@model List<Slider>

@{
    ViewData["Title"] = "Home Page";
    List<Product> products = ViewBag.Products;

}

<div class="page-content">
	<!-- Main Slider -->
<div class="holder fullwidth full-nopad mt-0">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": true}' data-autoplay="false" data-speed="12000" data-start-width="1917" data-start-height="764" data-start-mwidth="1550" data-start-mheight="1000">
					@foreach (Slider slider in Model)
					{
						<div class="bnslider-slide">
							<div class="bnslider-image-mobile lazyload" data-bgset="assets/images/skins/fashion/slider/@slider.ImagePath"></div>
							<div class="bnslider-image lazyload" data-bgset="assets/images/skins/fashion/slider/@slider.ImagePath"></div>
							<div class="bnslider-text-wrap bnslider-overlay">
								<div class="bnslider-text-content txt-middle txt-right txt-middle-m txt-center-m">
									<div class="bnslider-text-content-flex ">
										<div class="bnslider-vert w-s-60 w-ms-100" style="padding: 0px">
											<div class="bnslider-text order-1 mt-sm bnslider-text--md text-center data-ini" data-animation="fadeInUp" data-animation-delay="800" data-fontcolor="#282828" data-fontweight="700" data-fontline="1.5">@slider.Name</div>
											<div class="bnslider-text order-2 mt-sm bnslider-text--xs text-center data-ini" data-animation="fadeInUp" data-animation-delay="1000" data-fontcolor="#7c7c7c" data-fontweight="400" data-fontline="1.5">@slider.Text</div>
											<div class="btn-wrap text-center  order-4 mt-md" data-animation="fadeIn" data-animation-delay="2000" style="opacity: 1;">
												<a href="https://bit.ly/3eJX5XE" target="_blank" class="btn">
													@slider.ButtonText
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
			</div>
            <div class="bnslider-arrows container-fluid">
                <div></div>
            </div>
            <div class="bnslider-dots container-fluid"></div>
        </div>
    </div>
</div>
<!-- //Main Slider -->

	<div class="holder holder-mt-medium section-name-products-grid" id="productsGrid01">
		<div class="holder holder-mt-medium section-name-products-grid" id="productsGrid01">
	<div class="container">
		<div class="title-wrap text-center">
			<h2 class="h1-style">Collections</h2>
			<div class="title-wrap title-tabs-wrap text-center js-title-tabs ps ps--theme_default" data-ps-id="00ab654f-bb31-e95a-082c-ce863028ee0c">
				<div class="title-tabs">
					<h2 class="h3-style active">
						<a href="ajax/ajax-product-tab-01.json" data-total="8" data-loaded="4" data-grid-tab-title=""><span class="title-tabs-text theme-font">Women</span></a>
					</h2>
					<h2 class="h3-style">
						<a href="ajax/ajax-product-tab-02.json" data-total="8" data-loaded="4" data-grid-tab-title=""><span class="title-tabs-text theme-font">Men</span></a>
					</h2>
				
				</div>
			<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
		</div>
	</div>
</div>
	</div>
	</div>
</div>
	<div class="holder holder-mt-medium ">
	<div class="container">
		<a href="https://bit.ly/3eJX5XE" target="_blank" class="bnr-wrap bnr-">
			<div class="bnr custom-caption image-hover-scale bnr--middle bnr--right bnr--fullwidth">
				<div class="bnr-img d-none d-sm-block image-container" style="padding-bottom: 41.36752136752137%">
					<img src="~/assets/images/skins/fashion/slider/pdp.jpg" src="~/assets/images/skins/fashion/slider/pdp.jpg" class="lazyload fade-up" alt="">
				</div>
				<div class="bnr-img d-sm-none image-container" style="padding-bottom: 74.3139407244786%">
					<img src="~/assets/images/skins/fashion/slider/pdp.jpg" src="~/assets/images/skins/fashion/slider/pdp.jpg" class="lazyload fade-up" alt="">
				</div>
				<div class="bnr-caption text-center" style="padding: 4% 4%; ">
					<div class="bnr-caption-inside w-s-50 w-ms-100 title-wrap">
						<h2 class="h1-style">The best trends<br class="d-sm-none"> of summer 2020</h2>
						<div class="h-sub mt-0">eCommerce HTML Template</div>
						<div class="bnr-btn inherit mt-sm order-3">
							<div class="btn">Buy Now</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
	<div class="holder">
		<div class="holder">
			<div class="container">
				<div class="title-wrap text-center">
					<h2 class="h1-style">New arrival</h2>
					<div class="h-sub maxW-825">Hurry up! Limited</div>
				</div>
				<div class="prd-grid-wrap position-relative">
					<div class="prd-grid data-to-show-4 data-to-show-lg-4 data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-2 js-category-grid" data-grid-tab-content>
						@await Html.PartialAsync("_ProductPartial",products)
				</div>
			</div>
		</div>
</div>

</div>
